# App
PORT=3000
NODE_ENV=development

# Amazon SP-API
SP_REGION=na
SP_REFRESH_TOKEN=
SP_APP_CLIENT_ID=
SP_APP_CLIENT_SECRET=

# Versiones opcionales por endpoint
SP_ENDPOINTS_VERSIONS__catalogItems=2022-04-01
